*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 22%;
  height: 100vh;
  display: inline-block;
}

main {
  width: 50%;
  border: 1px solid #E5E5E5;
  border-bottom: none;
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
  }
  header {
    width: 20%;
  }
  main {
    width: 78%;
  }
}

@media (max-width: 900px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header {
    width: 55px;
  }
  main {
    max-width: 89%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    padding: 0;
    display: block;
  }
  header {
    width: 0%;
    display: none;
  }
  main {
    width: 550px;
    border: none;
  }
}

.nav__bar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
}

.nav__logo-link {
  display: inline-block;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav__logo {
  display: block;
  width: 40px;
  height: 33px;
}

.nav__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.nav__item {
  margin-bottom: 7px;
  padding: 10px 20px;
  padding-left: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}

.nav__item-resp {
  display: none;
}

.nav__item:hover {
  background-color: #afafaf81;
}

.nav__btn {
  margin-top: 30px;
  padding: 15px 0;
  width: 80%;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #1D9BF0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.nav__btn:hover {
  background-color: #2f90d1;
}

.nav__img {
  position: absolute;
  left: 10px;
  margin-right: 20px;
  width: 26px;
  height: 26px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.nav__item:hover .nav__img {
  opacity: 0;
}

.nav__img-fixed {
  opacity: 1;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav__item:hover .nav__img-fixed {
  opacity: 1;
}

.nav__img-fill {
  position: absolute;
  left: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  opacity: 0;
}

.nav__item:hover .nav__img-fill {
  opacity: 1;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.nav__profile {
  margin-bottom: 15px;
  padding: 8px 10px;
  padding-right: 15px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: white;
}

.nav__profile:hover {
  background-color: #afafaf81;
}

.profile__img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50px;
}

.profile__user {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__name {
  font-size: 16px;
  letter-spacing: .4px;
  font-weight: 700;
}

.profile__username {
  margin-top: 5px;
  text-decoration: none;
  font-size: 15px;
  color: gray;
}

.profile__username:hover {
  color: black;
}

.profile__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  cursor: pointer;
}

.info__dots {
  margin-left: 15px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: gray;
}

.info__dots ~ .info__dots {
  margin-left: 2px;
}

@media (max-width: 1240px) {
  .nav__bar {
    width: 20%;
  }
}

@media (max-width: 900px) {
  .nav__bar {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
  }
  .nav__item {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .nav__logo-link {
    margin: 15px 0;
  }
  .nav__item-btn {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background-color: #1D9BF0;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .nav__item-resp {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: white;
    margin: auto;
  }
  .nav__btn {
    display: none;
  }
  .nav__img {
    left: 7px;
    margin: 0;
  }
  .nav__img-fill {
    left: 7px;
  }
  .nav__link {
    display: none;
  }
  .nav__profile {
    padding: 0;
  }
  .profile__user {
    display: none;
  }
  .profile__info {
    display: none;
  }
  .profile__img {
    margin-right: auto;
  }
}

#top__section {
  width: 100%;
  height: 260px;
  background-image: url("../../img/user-bg.jpg");
  background-position: top 55px left 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.top {
  width: 100%;
  padding: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffffe5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 4;
  top: 0;
}

.top__link {
  margin: 0px 25px;
  padding: 10px 8px;
  border-radius: 50px;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.top__link:hover {
  background-color: #d4d4d4;
}

.top__img {
  width: 20px;
  height: 16px;
  cursor: pointer;
  display: block;
}

.top__text {
  margin-left: 10px;
}

.top__title {
  font-size: 20px;
  letter-spacing: .4px;
  font-weight: 700;
}

.top__subtitle {
  margin-top: 5px;
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

@media (max-width: 900px) {
  #top__section {
    height: 230px;
    background-image: url("../../img/user-bg.jpg");
    background-position: top 55px left 40%;
  }
}

@media (max-width: 550px) {
  .top {
    width: 112%;
  }
  #top__section {
    width: 112%;
    height: 200px;
    background-position: top 55px left 40%;
    background-size: cover;
  }
}

.user-info {
  width: 100%;
  padding: 12px 16px;
  position: relative;
}

.info__img {
  display: block;
  border: 4px solid white;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.info__img-link {
  text-decoration: none;
  margin-top: -70px;
  display: inline-block;
}

.info__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 15px;
  border: 1px solid gray;
  border-radius: 50px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  right: 16px;
}

.info__link:hover {
  background-color: #d8d8d881;
}

.info__user {
  margin: 15px 0;
}

.info__name {
  font-size: 20px;
  letter-spacing: .4px;
  font-weight: 700;
}

.info__username {
  margin-top: 5px;
  text-decoration: none;
  font-size: 15px;
  color: gray;
}

.info__username:hover {
  color: black;
}

.info__date {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #5a5959;
}

.info__calendar {
  margin-right: 10px;
}

.info__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__following {
  margin-right: 15px;
}

.info__following,
.info__followers {
  padding-bottom: 3px;
  font-size: 15px;
  color: #5a5959;
  cursor: pointer;
}

.info__following:hover {
  -webkit-box-shadow: inset 0px -1px 1px #5a5959;
          box-shadow: inset 0px -1px 1px #5a5959;
}

.info__followers:hover {
  -webkit-box-shadow: inset 0px -1px 1px #5a5959;
          box-shadow: inset 0px -1px 1px #5a5959;
}

.info__follow-number {
  color: black;
  font-weight: 600;
  margin-right: 4px;
}

@media (max-width: 550px) {
  #user-info__section {
    width: 112%;
  }
}

.content__nav-bar {
  border-bottom: 1px solid #E5E5E5;
}

.content__nav-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__nav-item {
  padding: 18px 43px;
  cursor: pointer;
}

.content__nav-item:hover {
  background-color: #d1d1d1b2;
}

.content__nav-link {
  height: 100%;
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
}

.content__nav-link::after {
  content: '';
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background-color: #1DA1F2;
  position: absolute;
  bottom: -17px;
  left: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.content__nav-item:hover .content__nav-link::after {
  width: 105%;
}

.content__list {
  margin: 0px;
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content__item {
  width: 100%;
  padding: 0px 18px;
  margin-top: 10px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
}

.content__img-link {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content__img {
  display: block;
  margin-right: 15px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content__name {
  margin-right: 10px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

.content__username:hover {
  text-decoration: underline;
}

.content__username {
  text-decoration: none;
  color: #5c5c5c;
  margin-right: 5px;
}

.content__date {
  font-size: 15px;
  color: gray;
}

.content__dots {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.content__dots:hover {
  background-color: #a5eaffb9;
}

.content__dots:hover .content__dot {
  background-color: #43d3ffaf;
}

.content__dot {
  margin: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: gray;
}

.content__text {
  width: 93%;
  margin: 10px 0;
  font-size: 18px;
  line-height: 22px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.content__subtext {
  margin-top: 20px;
}

.content__sublist {
  margin: 10px 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content__spidey {
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content__sublink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.content__sublink-comment:hover {
  background-color: #43d3ffaf;
}

.content__sublink-retweet:hover {
  background-color: #a3ffa8d5;
}

.content__sublink-like:hover {
  background-color: #ffa3a3d5;
}

.content__sublink-share:hover {
  background-color: #43d3ffaf;
}

.content__sublink-stats:hover {
  background-color: #e3ff438e;
}

@media (max-width: 900px) {
  .content__nav-item {
    padding: 16px;
  }
}

@media (max-width: 550px) {
  #content__section {
    width: 112%;
  }
  .content__nav-item {
    padding: 10px 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .content__img {
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }
  .content__user-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__subitem {
    height: auto;
  }
}

#search__section {
  width: 28%;
  padding: 0 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.search__form {
  position: relative;
  padding: 5px;
  width: 306px;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.search__img {
  position: absolute;
  top: 18px;
  left: 18px;
}

.search__input {
  padding: 16px 0;
  padding-left: 45px;
  width: 100%;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search__input:focus {
  background-color: #c9c8c8;
}

.search__input::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search__input:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search__input::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search__input::placeholder {
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.search__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.search__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.search__input:focus::placeholder {
  opacity: 0;
}

.search__img-box {
  margin-top: 70px;
  border-radius: 20px;
  overflow: hidden;
}

.search__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.search__item {
  width: 32%;
}

.search__item:hover {
  opacity: .7;
}

.search__link {
  display: inline-block;
  text-decoration: none;
}

.search__list-img {
  display: block;
}

@media (max-width: 1240px) {
  #search__section {
    display: none;
  }
}

.rec__list {
  margin: 0px;
  margin-top: 15px;
  padding: 15px 0;
  padding-bottom: 0;
  list-style-type: none;
  background-color: #e0e0e0;
  border-radius: 20px;
}

.rec__title {
  padding: 0 15px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.rec__item {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.rec__item:hover {
  background-color: #bbbbbb;
}

.rec__img-link {
  display: inline-block;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rec__img {
  border-radius: 50px;
  display: block;
}

.rec__box {
  margin-right: auto;
  margin-left: 5px;
  position: relative;
}

.xbox-verified {
  position: absolute;
  top: 2px;
  left: 47px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cyberpunk-verified {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rec__name {
  font-size: 18px;
  font-weight: 600;
}

.rec__user-name {
  text-decoration: none;
  color: gray;
}

.rec__user-name:hover {
  text-decoration: underline;
  color: black;
}

.rec__link {
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  background-color: #1D9BF0;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rec__item-more {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rec__item-more:hover {
  background-color: #bbbbbb;
}

.rec__link-more {
  text-decoration: none;
  color: #1D9BF0;
}

.rec__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rec__dot {
  width: 5px;
  height: 5px;
  margin: 2px;
  border-radius: 50px;
  background-color: #b1b1b1;
}

.rec__dots:hover {
  background-color: #e0e0e0;
}

.rec__box-place {
  font-size: 14px;
  color: gray;
}

.rec__box-tag {
  font-weight: 600;
}

.rec__box-tweets {
  font-size: 14px;
  color: gray;
}

#menu {
  display: none;
}

@media (max-width: 550px) {
  #menu {
    display: block;
  }
  .menu__list {
    padding: 0 15px;
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
  }
  .menu__item {
    position: relative;
  }
  .menu__link {
    display: inline-block;
  }
  .menu__img {
    display: block;
  }
  .menu__img-fill {
    position: absolute;
    top: 0;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .menu__item:hover .menu__img-fill {
    opacity: 1;
  }
}
