.content__nav-bar{
  border-bottom: 1px solid #E5E5E5;
}

.content__nav-list{
  margin: 0px;
  padding: 0px;
  list-style-type:none;
  display:flex;
  justify-content: space-between;
}

.content__nav-item{
  padding: 18px 43px;
  cursor: pointer;
}

.content__nav-item:hover{
  background-color: #d1d1d1b2;
}

.content__nav-link{
  height: 100%;
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  position: relative;
}

.content__nav-link::after{
  content: '';
  width: 0%;
  height: 4px;
  border-radius: 5px;
  background-color: #1DA1F2;
  position: absolute;
  bottom: -17px;
  left: 0;
  transition: all .3s ease;
}

.content__nav-item:hover .content__nav-link::after{
  width: 105%;
}


// ------------------ content__nav-bar  -------------------------- 

.content__list{
  margin: 0px;
  list-style-type:none;
}

.content__item{
  width: 100%;
  padding: 0px 18px;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
}

.content__img{
  margin-right: 15px;
  border-radius: 50%;
  width:60px;
  height:60px;
  user-select: none;
}

.content__user-info{
  display: flex;
  align-items: center;
  padding: 5px 0px;
  user-select: none;
}

.content__name{
  margin-right: 10px;
  font-weight: 600;
  font-size: 17px;
}

.content__username{
  text-decoration: none;
  color: #5c5c5c;
  margin-right: 5px;
}

.content__date{
  font-size: 15px;
  color: gray;
}

.content__dots{
  width: 25px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content__dot{
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: gray;
}

.content__text{
  margin: 10px 0;
  font-size: 18px;
  line-height: 22px;
}

.content__subtext{
  margin-top: 20px;
}

.content__sublist{
  margin: 10px 0;
  width: 80%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.content__spidey{
  border-radius: 15px;
}